@import "~normalize.css";


body{
  background: #000000;
  font-family: 'Open Sans' sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.shadow-active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #e2e2e261;
}
header{
  position: relative;
  width: 375px;
  margin: 30px auto 35px;
  padding: 10px 0;
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
  }
}
.logo a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.hamburger{
  position: relative;
  overflow: hidden;
  width: 25px;
  height: 29px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  .hamburger-item{
    width: 100%;
    height: 1px;
    display: block;
    background: #ffffff;
    transition: .2s linear;
  }
}
.active .hamburger .hamburger-item{
  &:nth-child(1){
    transform: translateX(-100%)
  }
  &:nth-child(4){
    transform: translateX(100%);
  }
  &:nth-child(2){
    transform: translatey(4px) rotate(45deg);
  }
  &:nth-child(3){
    transform: translatey(-4px) rotate(-45deg);
  }
}
.drop-down-list{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -450px;
  width: 80%;
  height: 350px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  transition: .3s ease-in-out;
  ul{
    list-style: none;
    padding: 0;
  }
}
.active{
  top: 100%;
}
.list-top-item{
  text-align: center;
  margin: 25px 0;
  a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    transition: .1s linear;
    &:hover{
      color: #de2bba;
    }
  }
}
.list-bottom-item{
  text-align: center;
  margin: 20px 0;
  a{
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    padding: 10px;
    transition: .1s linear;
    border: 1px solid transparent;
    &:hover{
      color: #000000;
      background: #ffffff;
      border: 1px solid #000000;
    }
  }
}
main{
  width: 375px;
  margin: 0 auto;
  overflow: hidden;
}
.header-content{
  margin: 0 30px;
  h2{
    font-size: 20px;
  }
  p{
    font-size: 12px;
    line-height: 1.5;
  }
}
.center-content{
  margin: 160px 105px 50px;
  p{
    font-size: 20px;
    font-weight: regular;
    color: #ffd7f1;
  }
}
.current-year-and-deckription{
  position: relative;
  margin: 0 0 50px 0;
}
.circle{
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  transform: translate(-50%, -30px);
  border-radius: 50%;
  border: 1px solid #1c1c1c;

}
.gradient-text {
  font-size: 55px;
  letter-spacing: 6px;
  font-family: Poppins;
  font-weight: bold;
  background: linear-gradient(45deg, #ffade2 33%, #e22bb8 66%, #c22ac5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000000;
  margin: 0 0 0 100px;
}
.deckription{
  padding: 0 88px 0 100px;
  margin: 0;
  font-size: 11px;
  line-height: 14px;
  color: #d0afc4;
}
.roll{
  height: 150px;
}
#wrap {
  position: relative;
  width: 500px;
  height: 500px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  transition: .3s linear;
  box-sizing: border-box;
  margin: 100px 0;
}

#wrap span {
  position: absolute;
  transform: translate(-30px, -30px);
}